<div fxLayoutAlign="center center" style="height: 100%">
    <form [formGroup]="form" (submit)="login()" style="font-size: 20px">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    LOGIN
                </mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <mat-form-field>
                    <input matInput [placeholder]="'UserName'" type="text" formControlName="userName" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="'password'" formControlName="password">
                    <mat-icon matSuffix>visibility_off</mat-icon>
                </mat-form-field>
                <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
                <mat-checkbox formControlName="ldap">LDAP</mat-checkbox>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary">LogIn</button>
            </mat-card-actions>
        </mat-card>
    </form>
    <button (click)="external('Google')">Google</button>
    <button (click)="external('GitHub')">GitHub</button>
    <button (click)="external('Azure')">Azure</button>
</div>
