
@import '~@angular/material/theming';

@include mat-core();

$ClientApp-primary: mat-palette($mat-indigo);
$ClientApp-accent: mat-palette($mat-pink, A200, A100, A400);
$ClientApp-warn: mat-palette($mat-red);

$ClientApp-theme: mat-light-theme($ClientApp-primary, $ClientApp-accent, $ClientApp-warn);

@include angular-material-theme($ClientApp-theme);


html,
body {
    height: 100%;

}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
